venv/
SIACASA/venv/
# Archivos de ambiente
.env
.env.*
!.env.example

# Entorno virtual
env/
ENV/

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
SIACASA/.env
**/.env
# Archivos de log
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de Base de datos
*.sqlite
*.sqlite3
*.db

# Archivos de IDE/editores
.idea/
.vscode/
*.swp
*.swo
*~

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de pruebas
.coverage
htmlcov/
.pytest_cache/
coverage.xml
*.cover
.hypothesis/

# Archivos temporales
*.tmp
*.bak
*.pid
.ipynb_checkpoints